<!doctype html>
<html lang="en" data-bs-theme="{{themeMode}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Looking Glass — {{company}}</title>
  <link href="{{stylesheet}}" rel="stylesheet">
  <script defer src="client.js?06102024"></script>
</head>
<body class="bg-body-tertiary">
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center justify-content-between mb-5">
      <div class="col-4">
        <a class="navbar-brand" href="{{companyUrl}}"><h1 class="h3">{{company}}</h1></a>
      </div>
      <div class="col-4 float-end">
        <select id="locations" class="form-select" onchange="window.location = this.options[this.selectedIndex].value">
          {{#each locations}}
            <option value="{{this}}" {{#if (eq @key ../location)}}selected{{/if}}>{{@key}}</option>
          {{/each}}
        </select>
      </div>
    </header>
    <main class="row mb-5">
      <div class="card shadow-lg">
        <div class="card-body border-bottom">
          <h2 class="fs-5 card-title mt-1 mb-3">Looking Glass</h2>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="location" class="mb-2 text-muted">Location</label>
              <div class="input-group">
                <input id="location" type="text" class="form-control" value="{{location}}" onfocus="this.select()" readonly="">
                <a class="btn btn-outline-primary" href="{{locationUrl}}" target="_blank">Map</a>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="facility" class="mb-2 text-muted">Facility</label>
              <div class="input-group">
                <input id="facility" type="text" class="form-control" value="{{facility}}" onfocus="this.select()" readonly="">
                <a href="{{facilityUrl}}" class="btn btn-outline-primary" target="_blank">PeeringDB</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="ipv4" class="mb-2 text-muted">IPv4 address</label>
              <div class="input-group">
                <input id="ipv4" type="text" class="form-control" value="{{ipv4}}" onfocus="this.select()" readonly="">
                <button class="btn btn-outline-primary" onclick="copy('{{ipv4}}', this)">Copy</button>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="ipv6" class="mb-2 text-muted">IPv6 address</label>
              <div class="input-group">
                <input id="ipv6" type="text" class="form-control" value="{{ipv6}}" onfocus="this.select()" readonly="">
                <button class="btn btn-outline-primary" onclick="copy('{{ipv6}}', this)">Copy</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">
          <h2 class="fs-5 card-title mt-1 mb-3">Command Query</h2>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="target" class="mb-2 text-muted">Target</label>
              <div class="input-group">
                <input id="target" type="text" class="form-control" placeholder="IP address or hostname">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="mb-2 text-muted">Execute</div>
              <div class="btn-group input-group">
                <button id="ping" class="btn btn-outline-primary" onclick="send('ping')">ping</button>
                <button id="mtr" class="btn btn-outline-primary" onclick="send('mtr')">mtr</button>
                <button id="traceroute" class="btn btn-outline-primary" onclick="send('traceroute')">traceroute</button>
              </div>
            </div>
            <div class="col-md-12">
              <pre id="output" class="p-3 bg-dark text-light rounded d-none"></pre>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h2 class="fs-5 card-title mt-1 mb-3">Speed Test</h2>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="iperf3incoming" class="mb-2 text-muted">iPerf3 Incoming</label>
              <div class="input-group">
                <input id="iperf3incoming" type="text" class="form-control" value="{{iPerf3incoming}}" onfocus="this.select()" readonly="">
                <button class="btn btn-outline-primary" onclick="copy('{{iPerf3incoming}}', this)">Copy</button>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="iperf3outgoing" class="mb-2 text-muted">iPerf3 Outgoing</label>
              <div class="input-group">
                <input id="iperf3outgoing" type="text" class="form-control" value="{{iPerf3outgoing}}" onfocus="this.select()" readonly="">
                <button class="btn btn-outline-primary" onclick="copy('{{iPerf3outgoing}}', this)">Copy</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-2 text-muted">Test Files</div>
            <div class="btn-group input-group mb-3">
              {{#each speedtestFiles}}
                <a href="{{this}}" class="btn btn-outline-primary">{{@key}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <small class="text-muted">Looking Glass licensed <a href="https://github.com/ernestpasnik/looking-glass/blob/main/LICENSE" target="_blank">Apache-2.0</a>.</small>
      <a href="https://github.com/ernestpasnik/looking-glass" target="_blank" class="float-end">
        <img src="https://img.shields.io/github/stars/ernestpasnik/looking-glass?style=social" alt="GitHub">
      </a>
    </footer>
  </div>
</body>
</html>
